<div class="sect1">
    <div class="text-center">
        <h1 class="display-4 animatedImage">Prachi Mirkute</h1>
        <h4>Full Stack Developer</h4>
        <div style="text-align: right;">
            <!-- <a href="https://github.com/Prachimirkute" target="_blank" class="btn"><fa-icon [icon]="faGithub"></fa-icon></a> -->
            <!-- <a href="https://www.linkedin.com/in/prachi-mirkute-53a984152/" target="_blank" class="btn">
                <fa-icon [icon]="faLinkedin" class="linkedin" size="1x"></fa-icon>
            </a> -->
        </div>
    </div>
</div>