<!-- <div class="About" style="height: auto;"> -->
<div class="card shadow text-center" style="max-width: 517px;margin-left: auto;margin-right: auto;">
    <div class="card-body">
        <!-- <div class="container text-center"> -->
        <h3>Contact</h3>
        <h6> I can be reached at the following Email id:<span style="color:blue;">
                prachimirkute27@gmail.com</span></h6>
        <h6>feel free to connect with me on any of the following platform</h6>
        <div style="text-align: center;">
            <a href="https://github.com/Prachimirkute" target="_blank" class="btn"><fa-icon size="2x" [icon]="faGithub"
                    class=""></fa-icon></a>
            <a href="https://www.linkedin.com/in/prachi-mirkute-53a984152/" target="_blank" class="btn">
                <fa-icon [icon]="faLinkedin" class="linkedin" size="2x"></fa-icon>
            </a>
        </div>
        <!-- </div> -->
        <!-- </div> -->
    </div>
</div>