<nav class="navbar-expand-md border-bottom mb-3">
    <div class="container">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link text-secondary" routerLink="/Home" routerLinkActive="text-dark">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-secondary" routerLink="/Portfolio" routerLinkActive="text-dark">Portfolio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-secondary" routerLink="/Resume" routerLinkActive="text-dark">Resume</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-secondary" routerLink="/Contact" routerLinkActive="text-dark">Contact</a>
            </li>
            <li style="text-align: right;">
                <a href="https://www.linkedin.com/in/prachi-mirkute-53a984152/" target="_blank" class="btn">
                    <fa-icon [icon]="faLinkedin" class="linkedin" size="1x"></fa-icon>
                </a>
            </li>
            <li style="text-align: right;">
                <a href="https://github.com/Prachimirkute" target="_blank" class="btn">
                    <fa-icon [icon]="faGithub"></fa-icon>
                </a>

            </li>
        </ul>

    </div>

</nav>