<!-- <section class="About"> -->
<div class="container">
    <button class="btn btn-primary mb-2 me-2"><a href="../assets/resume/Prachi_Mirkute_resume.pdf" target="_blank"
            class="btn">
            <fa-icon [icon]="faDownload" class="DownloadPDF"></fa-icon>
        </a>Download Resume</button>

</div>
<div class="container ">
    <accordion [isAnimated]="true">
        <accordion-group heading="Work Experience">
            <h3>Software Engineer</h3>
            <h4 class="color:blue">Mobileware Technology pvt ltd</h4>
            <h6>Mobile Banking Application:</h6>
            <ul>
                <li>The project follows an Agile methodology and involves the development of an API banking platform
                    aimed
                    at assisting banks in capitalizing on their digital payments infrastructure.</li>
                <li>The application offers a comprehensive range of banking services, including AEPS, BBPS, DMT,
                    Account
                    Opening, FD RD Opening, Insurance, Micro ATM, loan repayment, and voucher, all integrated within
                    a
                    single platform. The development of the application involves utilizing technologies such as
                    Angular,
                    AngularJS,
                    HTML,JavaScript, Ionic, CSS, JSON, XML, and integrating APIs.</li>
                <li>To reduce code complexity and enhance application performance, an approach is implemented to
                    dynamically store all API responses. This ensures that the responses are cached and readily
                    available for future
                    use,eliminating the need to make redundant API calls. By leveraging this technique, the
                    application
                    can
                    retrieve data more efficiently, resulting in improved performance and a streamlined user
                    experience.
                </li>
                <li>Played an active role in integrating and enhancing the Biometric plugin within the Transact App,
                    a
                    widely utilized application catering to both large public and corporate users in India.
                    Implemented
                    various features and functionalities related to biometric authentication, ensuring a seamless
                    and
                    secure user experience.
                </li>
            </ul>
            <h6>Responsibilities :</h6>
            <ul>
                <li>Contributed to the design and architecture of the application, ensuring scalability,
                    performance,
                    and
                    maintainability. Played a key role in integrating banking service modules into the application,
                    ensuring seamless
                    functionality and a cohesive user experience.</li>
                <li>Implemented complex UI includes icons ,images and fonts and design module structure, REST API
                    integration.</li>
                <li>Successfully delivered production-ready signed builds of the application, ensuring that the
                    releases
                    were stable
                    and met the required quality standards.</li>
                <li>Collaborated with the development and quality assurance teams to perform rigorous testing and
                    address any
                    issues or bugs prior to the release</li>
                <li>Implemented an SDK (Software Development Kit) within the application, providing developers with
                    a
                    set of tools,
                    libraries, and documentation to integrate and extend the functionality of the application.
                    Worked
                    closely with the
                    SDK providers to understand the integration requirements and ensure seamless integration with
                    the
                    existing
                    codebase.</li>
            </ul>
        </accordion-group>
        <accordion-group heading="Education">
            <h5>BE in Information Technology : Ramrao Adik Institute of Technology, Mumbai University [2016-2019]
            </h5>
            <h6>Earthquake Prediction Using Support Vector Machine using java(2018-2019):</h6>
            <ul>
                <li> Project based on data mining for predicting the possibility of disaster before occurring. Using
                    a
                    support vector machine multiple attributes can be compared for accurate prediction.
                </li>
            </ul>
            <h6>Canteen Management System using java(2016):</h6>
            <ul>
                <li>Project based on managing the canteen orders for students and staff members in college. Students
                    who
                    have their own account in the canteen can order his meal from the balance in his account. It
                    simplifies the task and reduces the paperwork.
                </li>
            </ul>
        </accordion-group>
        <accordion-group heading="Certification">
            <ul>
                <li>Certificate of participation in the Android workshop held in January 2018</li>
                <li>Certificate of participation in the workshop " Android App Development "conducted during
                    Alegria-
                    the festival of
                    joy 2016.</li>
                <li> Certificate of participation in IT-CON-2019 which was organised at RAIT,nerul .
                </li>
                <li>Certificate of participation in the coding event 'Game Of Codes' held at Ramrao adik institute
                    of
                    technology,Nerul</li>
            </ul>
        </accordion-group>
        <accordion-group heading="Technical Skills">
            <div class="row">
                <div class="col-lg-4 col-md-6 mb-4">
                    <h6>Frontend Technology knowledge:</h6>
                    <ul>
                        <li>HTML5</li>
                        <li>CSS3</li>
                        <li>SCSS</li>
                        <li>JavaScript</li>
                        <li>ES6</li>
                        <li>Ionic</li>
                        <li>Cordova</li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <h6> Framework Experience : </h6>
                    <ul>
                        <li>Angular</li>
                        <li>AngularJS</li>
                        <li>React JS</li>
                        <li>RxJs</li>
                        <li>TypeScript</li>
                        <li>Bootstrap</li>
                        <li>Cordova</li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <h6> Server side languages :</h6>
                    <ul>
                        <li>Core JAva</li>
                    </ul>
                    <h6>Version control:</h6>
                    <ul>
                        <li>GitHub</li>
                        <li>SVN</li>
                    </ul>
                </div>
            </div>
        </accordion-group>
    </accordion>
</div>
<!-- </section> -->