<!-- <section class="About"> -->
<div class="container">
    <button class="btn btn-primary mb-2 me-2"><a href="../assets/resume/Prachi_Mirkute.pdf" target="_blank" class="btn">
            <fa-icon [icon]="faDownload" class="DownloadPDF"></fa-icon>
        </a>Download Resume</button>

</div>
<div class="container ">
    <accordion [isAnimated]="true">
        <accordion-group heading="Work Experience">
            <h3>Web Developer (Internship) </h3>
            <h4 class="color:blue">Babylon radio [Dublin]</h4>
            <ul>
                <li>Collaborated closely with UX/UI designers to translate wireframes and PSDs into visually stunning
                    and responsive web pages, ensuring cross-browser compatibility.Utilized HTML5, CSS3, JavaScript,
                    JSON, React.js, Redux , RESTful APIs to develop user-facing elements, prioritizing optimal
                    usability, performance, and responsive design.</li>
                <li>Implemented react drag and drop functionality, form, Material UI, Graphs, and API calls.</li>
                <li>
                    Conducted comprehensive testing, including Unit, Integration, and End-to-End (E2E) testing, to
                    ensure seamless functionality across various platforms and devices.</li>
                <li>Provided technical support to internal teams and clients, fostering strong relationships and
                    delivering superior customer satisfaction.Proficient in code debugging, adept at identifying and
                    resolving technical issues to ensure smooth software functionality within an agile development
                    environment.</li>
            </ul>

            <h3>Software Engineer</h3>
            <h4 class="color:blue">Mobileware Technology pvt ltd</h4>
            <h6>Mobile Banking Application:</h6>
            <ul>
                <li>Led the development of a cutting-edge API banking platform, leveraging Agile methodologies to
                    empower financial institutions in revolutionizing their digital payments infrastructure. This
                    transformative application seamlessly integrates a plethora of banking services, including AEPS,
                    BBPS, DMT, Account Opening, FD RD Opening, Insurance, Micro ATM, loan repayment, and voucher
                    management, all within a unified platform.</li>
                <li><mark>Technological Expertise</mark>: Leveraged a robust tech stack comprising Angular 8+,
                    AngularJS, HTML, CSS,
                    JavaScript, TypeScript, Ionic, JSON, XML and RESTful APIs to architect and deploy a highly scalable
                    and feature-rich banking solution.</li>
                <li><mark>Performance Optimization</mark>: Spearheaded the implementation of innovative caching
                    mechanisms to
                    dynamically store API responses, mitigating code complexity and enhancing application performance.
                    This strategy drastically reduced redundant API calls, resulting in unparalleled efficiency and a
                    seamless user experience.
                </li>
                <li><mark>Biometric Authentication Integration</mark>: Played a pivotal role in enhancing security
                    measures by
                    seamlessly integrating and enhancing a Biometric plugin within the application. Implemented advanced
                    biometric authentication features, ensuring a secure and frictionless user experience for both
                    public and corporate users.
                </li>
                <li><mark>Collaborative Development</mark>: Facilitated streamlined collaboration among team members
                    through the
                    adoption of version control using Git. Actively participated in code reviews, knowledge sharing
                    sessions, and team discussions, fostering a culture of innovation and continuous improvement.</li>
            </ul>
            <h6>Responsibilities :</h6>
            <ul>
                <li>Contributed to the design and architecture of the application, ensuring scalability,
                    performance,
                    and
                    maintainability. Played a key role in integrating banking service modules into the application,
                    ensuring seamless
                    functionality and a cohesive user experience.</li>
                <li>Implemented complex UI includes icons ,images and fonts and design module structure, REST API
                    integration.</li>
                <li>Successfully delivered production-ready signed builds of the application, ensuring that the
                    releases
                    were stable
                    and met the required quality standards.</li>
                <li>Collaborated with the development and quality assurance teams to perform rigorous testing and
                    address any
                    issues or bugs prior to the release</li>
                <li>Implemented an SDK (Software Development Kit) within the application, providing developers with
                    a
                    set of tools,
                    libraries, and documentation to integrate and extend the functionality of the application.
                    Worked
                    closely with the
                    SDK providers to understand the integration requirements and ensure seamless integration with
                    the
                    existing
                    codebase.</li>
            </ul>
        </accordion-group>
        <accordion-group heading="Education">
            <h5>BE in Information Technology : Ramrao Adik Institute of Technology, Mumbai University [2016-2019]
            </h5>
            <h6>Earthquake Prediction Using Support Vector Machine using java(2018-2019):</h6>
            <ul>
                <li> Project based on data mining for predicting the possibility of disaster before occurring. Using
                    a
                    support vector machine multiple attributes can be compared for accurate prediction.
                </li>
            </ul>
            <h6>Canteen Management System using java(2016):</h6>
            <ul>
                <li>Project based on managing the canteen orders for students and staff members in college. Students
                    who
                    have their own account in the canteen can order his meal from the balance in his account. It
                    simplifies the task and reduces the paperwork.
                </li>
            </ul>
        </accordion-group>
        <accordion-group heading="Certification">
            <ul>
                <li>Certificate of participation in the Android workshop held in January 2018</li>
                <li>Certificate of participation in the workshop " Android App Development "conducted during
                    Alegria-
                    the festival of
                    joy 2016.</li>
                <li> Certificate of participation in IT-CON-2019 which was organised at RAIT,nerul .
                </li>
                <li>Certificate of participation in the coding event 'Game Of Codes' held at Ramrao adik institute
                    of
                    technology,Nerul</li>
            </ul>
        </accordion-group>
        <accordion-group heading="Technical Skills">
            <div class="row">
                <div class="col-lg-4 col-md-6 mb-4">
                    <h6>Frontend Technology knowledge:</h6>
                    <ul>
                        <li>HTML5</li>
                        <li>CSS3</li>
                        <li>SCSS</li>
                        <li>JavaScript</li>
                        <li>ES6</li>
                        <li>Ionic</li>
                        <li>Cordova</li>
                        <li>Ionic</li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <h6> Framework Experience : </h6>
                    <ul>
                        <li>Angular</li>
                        <li>AngularJS</li>
                        <li>React JS</li>
                        <li>RxJs</li>
                        <li>TypeScript</li>
                        <li>Bootstrap</li>

                    </ul>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <h6> Server side languages :</h6>
                    <ul>
                        <li>NodeJS</li>
                        <li>Express</li>
                    </ul>
                    <h6>Version control:</h6>
                    <ul>
                        <li>GitHub</li>
                        <li>SVN</li>
                    </ul>
                </div>
            </div>
        </accordion-group>
    </accordion>
</div>
<!-- </section> -->