<div class="container card shadow" style="background-color: #00bcd41f;">
    <div class="row">
        <div class="col ">
            <img src="assets/background.jpg" class="float-right rounded " width="350" height="350"
                alt="Profile Picture">
        </div>
        <div class="col rightside">
            <h2>About me</h2>
            <h5>Software Developer</h5>
            <p>I am a front-end developer, I can provide website
                and make website more and more interactive with using HTML,CSS,Bootstrap,Javascript,<span
                    style="color: blue;">AngularJS, Angular and ReactJs.</span></p>
            <p>Contact No: +353 0892239571</p>
            <button type="button">Let's Talk</button>
        </div>
    </div>
</div>