<div class="container card shadow" style="background-color: #00bcd41f;">
    <div class="row">
        <div class="col ">
            <img src="assets/background.jpg" class="float-right rounded " style="margin: 5px;" width="300" height="300"
                alt="Profile Picture">
        </div>
        <div class="col rightside" style="margin: 5px;">
            <h2>About me</h2>
            <!-- <h5>Software Developer</h5> -->
            <p>Hey there! I'm Prachi, a passionate <span style="color: blue;">Web Developer</span> with a love for
                creating engaging,
                interactive, and user-friendly web experiences. With 3 + years of experience in the field, I thrive on
                turning
                ideas into beautiful, accessible websites.</p>
            <h5>My Tech Stack</h5>
            <p><span style="color: blue;">HTML5, CSS3 (Sass/SCSS), JavaScript (ES6+), AngularJS, Angular8+,
                    ReactJs, Wordpress, NodeJS, ExpressJS, mySql .</span></p>
            <p>Contact No: +353 0892239571</p>
            <button type="button">Let's Talk</button>
        </div>
    </div>
</div>