<!-- About section -->
<!-- <div class="container">
    <div class="row">
        <div>
            <h2>About me</h2>
            <img src="../assets/background.jpg" width="256" height="256" alt="Profile Picture">
            <div class="About-text">

                <h5>Developer and<span> designer </span> </h5>
                <p>I am a front-end web developer, I can provide clean and pixel perfect design.
                    I also make website more and more interactive with using HTML,bootstrap,css and Angular.</p>
                <p>Contact No: 9029041902</p>
                <button type="button">Let's Talk</button>
</div>
        </div>
    </div>
</div> -->
<!-- About section -->
<section id="about" class="About">
    <div class="main">
        <img src="assets/background.jpg" width="200" height="200" alt="Profile Picture">
        <div class="About-text">
            <h2>About me</h2>
            <h5>Software Developer</h5>
            <p>I am a front-end developer, I can provide website.
                and make website more and more interactive with using HTML,CSS,Bootstrap,Javascript,<span
                    style="color: blue;">AngularJS, Angular and ReactJs.</span></p>
            <p>Contact No: +353 0892239571</p>
            <button type="button">Let's Talk</button>
        </div>
    </div>
</section>